# Requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
sklearn
matplotlib
numpy
opencv-python
pillow
scipy
requests
datasets

# MacOS GPU ---------------------------------------------------------------------
tensorflow-macos
tensorflow-metal

# Logging ---------------------------------------------------------------------
tensorboard

# Plotting --------------------------------------------------------------------
pandas
seaborn

# Export ----------------------------------------------------------------------
scikit-learn
tensorflow
tensorflowjs


# Deploy ----------------------------------------------------------------------

# Extras ----------------------------------------------------------------------
